<%- include("../partials/header") -%>



  <div class="card mx-auto my-5" style="width: 22rem;">
    <div class="card-body">
      <h2 class="card-title">Registration Form</h2>
      <form method="post" action="/register">
        <div class="row">

          <div class="mb-3 col-lg-6 col-md-6 col-sm-6 col-6">
            <label class="form-label">Name*</label>
            <input autocomplete="off" type="text" class="form-control" name="studentName" placeholder="enter Full Name" required>
          </div>
          <div class="mb-3 col-lg-6 col-md-6 col-sm-6 col-6">
            <label class="form-label">Enter ID</label>
            <input autocomplete="off" type="text" class="form-control" name="id" required>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-lg-6 col-md-6 col-sm-6 col-6">
            <label class="form-label">Students Class*</label>
            <input autocomplete="off" type="text" class="form-control" name="class" required>
          </div>
          <div class="mb-3 col-lg-6 col-md-6 col-sm-6 col-6">
            <label class="form-label">Enter Branch name*</label>
            <input autocomplete="off" type="text" class="form-control" name="branchName" required>
          </div>
        </div>
        <div class="mb-3 ">
          <label class="form-label">Enter Students Address</label>
          <input autocomplete="off" type="text" class="form-control" name="address">
        </div>
        <div class="mb-3 ">
          <label class="form-label">Enter Phone Number</label>
          <input autocomplete="off" type="number" class="form-control" name="phoneNumber" >
        </div>
        <input type="hidden" name="type" value="student">
        <button type="submit" class="btn btn-dark">Register <i class="fa-solid fa-id-card fa-lg"></i></button>
      </form>

    </div>
  </div>





  <%- include("../partials/footer") -%>