<%- include("partials/header") -%>

<div class="card mx-auto my-5">
  <div class="card-body">
    <h3 class="card-title">FIND RECORD</h3>
    <form method="post" action="/find">
      <div class="mb-3">
        <label  class="form-label">FIND RECORD</label>
        <input autocomplete="off" type="text" class="form-control" name="studentName" placeholder="enter Full Name">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>

</div>
<!-- 

      <%- include("partials/footer") -%> -->
    