<%- include("partials/header") -%>



  <div class="card mx-auto my-5"style="width: 22rem;">
    <div class="card-body">
      <h2 class="card-title">Test Entry </h2>
      <form action="/id" method="post" style="width: 22rem;">
        <div class="row">
          <div class="mb-3 col-lg-8 col-md-8 col-sm-8 col-8">
            <label  class="form-label">enter ID*</label>
            <input autocomplete="off" type="text" class="form-control" name="id" placeholder="enter id" required>
          </div>
          <div class="mb-3 col-lg-4 col-md-4 col-sm-4 col-4 my-4">
            <button type="submit" class="btn btn-md btn-dark my-2"> submit</button>
          </div>
        </div>
      </form>
      <form method="post" action="/entry">
        <div class="row">
            <div class="mb-3 col-lg-6 col-md-6 col-sm-6 col-6">
                <label  class="form-label">Name*</label>
                <h5><%= student.name %></h5>
              </div>
              <div class="mb-3 col-lg-6 col-md-6 col-sm-6 col-6">
                <label  class="form-label">Test Date*</label>
                <input autocomplete="off" type="date" class="form-control" name="testDate" required>
              </div>

        </div>
        
       
        <div class="mb-3 ">
            <label class="form-label">Choose Category*</label>
            <select class="form-control" name="category" size="1">
                <option value="test">test</option>
                <option value="mock">mock</option>
                
              </select>
        </div>
        <div class="row">
        <div class="mb-3 col-lg-8 col-md-8 col-sm-8 col-8">
            <label class="form-label" >Enter Subject Name*</label>
            <input autocomplete="off" type="text" class="form-control" name="subjectName" required>
          </div>
          <div class="mb-3 col-lg-4 col-md-4 col-sm-4 col-4">
            <label class="form-label">Status*</label>
            <select class="form-control" name="status" size="1">
                <option value="attempted">attempted</option>
                <option value="notAttempted">not attempted</option>
                
              </select>
        </div>
        </div>
          <div class="row">
            <div class="mb-3  col-lg-6 col-md-6 col-sm-8 col-7">
                <label class="form-label" >Obtained Marks*</label>
                <input autocomplete="off" type="number" min="0" class="form-control" name="marks" required>
              </div>
              <div class="mb-3  col-lg-6 col-md-6 col-sm-6 col-5">
                <label class="form-label" >Total Marks*</label>
                <input autocomplete="off" type="number" min="0" class="form-control" name="totalMarks" required>
              </div>

          </div>
       
          <input type="hidden" name="studentID" value="<%=student._id%>">
        <button type="submit" class="btn btn-dark  my-3">ADD <i class="fa-solid fa-file fa-lg"></i></button>
      </form>
    
    </div>
  </div>





<%- include("partials/footer") -%>